devel/
logs/
build/
bin/
lib/
build_isolated/
devel_isolated/
*.pyc
catkin_ws/devel
catkin_ws/logs
catkin_ws/build
catkin_ws/bin/
catkin_ws/lib/
catkin_ws/build_isolated/
catkin_ws/devel_isolated/
catkin_ws/*.pyc
.vs
.git
**/airsim/
src/cruise_control/scripts/speed_output.txt