<launch>
	<arg name="record_camera" default="true" />
	<arg name="record_pointcloud" default="false" />
	
	<node name="controller" pkg="controller" type="controller.py"/>
	<node name="agent" pkg="agent" type="reactive_agent.py"/>
	<node name="raw_image" pkg="sensors" type="car_image_raw.py" />
	<node name="speed" pkg="sensors" type="speedometer.py" />
	<node name="controls" pkg="controls" type="handle_controls.py" />
	<node name ="stop_detect" pkg="stop_detect" type="stop_detect.py"/>
	<node name ="obstacle_avoid" pkg="obstacle_avoid" type="obstacle_avoid.py"/>
	<node name="acc" pkg="acc" type="acc.py" />
	<node name ="lka" pkg="lka" type="lane_keep.py"/>
	<node name="car_pose" pkg="sensors" type="car_pose.py" />
	<node name ="trajectory" pkg="navigation" type="trajectory.py"/>
	<node name ="waypoint" pkg="navigation" type="waypoint.py"/>
	<node name ="rviz_pub" pkg="geo_mapping" type="rviz_pub.py"/>
	<node pkg="rviz" type="rviz" name="rviz" output="log" args="-d $(find geo_mapping)/rviz/default.rviz" />
	
</launch>
